<template>
  <div class="about pa-7">
    <h1>About Vuetify Todo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, officiis voluptate illum, aliquid cumque nesciunt repudiandae fuga cupiditate sequi distinctio repellat quisquam! Sint delectus placeat sit voluptatem aut perspiciatis quas.</p>

  </div>
</template>
